* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}
.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}
header {
    background-color: green;
    color: white;
    margin-bottom: 24px;
}
ul, header h1 {
    display: inline;
    font-weight: bold;
}
li {
    display: inline;
}
a {
    color: white;
    text-decoration: none;
}

#sobre {
    display: flex;
    align-items: center;
    justify-content: center;
}
div > div > h1 {
    border-bottom: 3px solid green;
    margin-bottom: 10px;
}
#articles {
    display: flex;
}
img {
    object-fit: cover;
    max-width: 100%;
    aspect-ratio: 1/1;
    border-radius: 8px;
}
button {
    background-color: green;
    color: white;
    border-radius: 8px;
    border: none;
    font-size: 1em;
    padding: 2%;
    font-weight: bold;
    width: 100%;
}
button:hover {
    cursor: pointer;
}


@media screen and (max-width: 767px) {
    .container {
        max-width: 90%;
    }
    header {
        display: flex;
        text-align: center;
        padding-bottom: 10px;
    }
    header h1 {
        margin: 10px;
    }
    a {
        font-size: 1.5em;
        margin: 8%;
    }
    #sobre img {
        width: 100%;
    }
    #articles {
        display: block;
        text-align: center;
    }
    button {
        margin-top: 10px;
        text-align: center;
        font-size: 1.5em;
    }
    article {
        margin-bottom: 20px;
    }
    div > div > h1 {
        margin-top: 10px;
    }
    article h1 {
        font-size: 2em;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
        max-width: 90%;
    }
    #articles {
        display: grid;
        grid-template-columns: repeat(2, 49%);
        column-gap: 2%;
        row-gap: 10px;
        margin-bottom: 40px;
    }
    header {
        text-align: center;
        padding: 20px;
    }
    header h1 {
        font-size: 4em;
        margin-bottom: 10px;
    }
    a {
        font-size: 2.2em;
        margin: 10%;
    }
    h1 {
        font-size: 2em;
    }
    div > div > h1 {
        margin: 25px auto 15px;
    }
    p {
        font-size: 1.2em;
    }
    #sobre img {
        width: 80%;
        margin: auto;
        display: block;
    }
    #sobre {
        display: flex;
    }
    button {
        margin-top: 5px;
        font-size: 1.5em;
        padding: 3%;
    }
}

@media screen and (min-width: 1024px) {
    header {
        padding: 20px;
    }
    header h1 {
        margin-right: 30%;
    }
    li {
        padding: 3%;
    }
    #sobre img {
        width: 90%;
    }
    #sobrediv {
        display: flex;
    }
    #articles {
        margin-bottom: 40px;
        display: grid;
        grid-template-columns: repeat(4, 24.25%);
        column-gap: 1%;
    }
    br {
        display: none;
    }
}